[submodule "c/submodules/qrcode"]
	path = c/submodules/qrcode
	url = https://github.com/nayuki/QR-Code-generator
[submodule "c/submodules/typedjni"]
	path = c/submodules/typedjni
	url = https://github.com/hoehermann/TypedJNI
[submodule "java/submodules/signal-cli"]
	path = java/submodules/signal-cli
	url = https://github.com/hoehermann/signal-cli
